
/MLTrainerPredictor/obj
/MLTrainerPredictor/.vs
/MLTrainerPredictor/bin
/MLTrainerPredictorTests/bin
/MLTrainerPredictorTests/obj
/MLTrainerPredictorTesting/bin
/MLTrainerPredictorTesting/obj
/MLTrainer/bin
/MLTrainer/obj
/MLTrainerPredictor/packages
/MLTrainer/packages
/MLTrainer/.vs
/.vs
/MLTrainer/MigrationBackup
/MLModel1_ConsoleApp1/bin
/MLModel1_ConsoleApp1/obj
/WindowsFormsApp1/obj
